@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-dosis: 'DOSIS', sans-serif;

    --background: #2659b1;
    --foreground: #f7f9fd;

    --primary: #e5e555;
    --primary-foreground: #2659b1;

    --muted: #6b7280; /* Updated to a specific gray color */
    --muted-foreground: #9ca3af; /* Lighter gray for foreground muted elements */

    --accent: #7c3aed; /* Purple for accent */
    --accent-foreground: #d8b4fe; /* Light purple for foreground accent elements */

    --destructive: #dc2626; /* Red for destructive elements */
    --destructive-foreground: #f7f9fd;

    --border: #e5e555;
    --input: #f7f9fd; /* Light gray for inputs */
    --ring: #e5e555;

    --radius: 0.5rem;
  }

  .dark {
    --background: #f7f9fd;
    --foreground: #2659b1;

    --primary: #e5e555;
    --primary-foreground: #2659b1;

    --muted: #9ca3af; /* Updated to a lighter gray in dark mode */
    --muted-foreground: #6b7280; /* Darker gray for foreground muted elements */

    --accent: #d8b4fe; /* Light purple for dark mode */
    --accent-foreground: #7c3aed; /* Purple for foreground accent elements in dark mode */

    --destructive: #e5e555; /* Yellow for destructive elements in dark mode */
    --destructive-foreground: #2659b1;

    --border: #2659b1;
    --input: #2659b1;
    --ring: #f7f9fd;
  }
}

@layer components {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-dosis);
  }
}
